@import url('https://fonts.googleapis.com/css2?family=Frijole');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania');
@import url('https://fonts.googleapis.com/css2?family=Creepster');

body{
    font-family: 'Frijole';
    background-color: black;
    color: white;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

/* Index page */

.index {
    height: 97vh;
    display: flex;
    flex-direction: column;
}

.index .smoke{
    position: absolute;
    bottom: 0;
    opacity: 30%;
    z-index: 0;
    width: 100%;
    animation: fadeInSmoke 5s;
}

@keyframes fadeInSmoke{
    0% { opacity: 0; }
  100% { opacity: 30%; }
}

.index .reaper{
    width: 40%;
    opacity: 80%;
    position: absolute;
    left: 30%;
    z-index: -1;
    bottom: 10%;
    animation: fadeInReaper 5s;
}

@keyframes fadeInReaper{
    0% { opacity: 0; }
    20% {opacity: 0;}
  100% { opacity: 80%; }
}

.index .intro{
    letter-spacing: 2px;
    text-align: center;
    animation: FadeInText 10s;
    cursor: default;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 1%;
}

.index .intro h2{
    font-size: 60px;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px auto;
}

.index .intro h1{
    font-family: 'Metal Mania';
    font-size: 100px;
    margin: 10px;
    transition-duration: .5s;
    cursor: pointer;
    position: relative;
}

@keyframes FadeInText{
    0% {opacity: 0;}
    25% { opacity: 0; }
  100% { opacity: 100%; }
}

.index .intro h1:hover{
    color: red;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Metal Mania';
}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .logo {
    width: 100px;
    margin: 0;
    cursor: pointer;
}

.nav .name {
    font-size: 31px;
    color: red;
    margin: -10px;
    letter-spacing: 1px;
    cursor: default;
}

.nav .right {
    padding-right: 30px;
}

.nav .right .login {
    font-size: 30px;
    transition-duration: .5s;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
}

.nav .right .login:hover{
    color: red;
    letter-spacing: 4px;
}

/* home */


.home .levels {
    height: 80vh;
    overflow-x: scroll;
    display: flex;
    gap: 200px;
    padding:0 50px 0 50px;
}

.home .level{
    width: 200px;
    animation: fadeInstone 5s;
}

@keyframes fadeInstone {
    0% { opacity: 0;}
    100% {opacity: 100%;}
}

/* level */

.home .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}



.home .levelimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    transition-duration: .5s;
}


.home .levelimg .num{
    color: red;
}

.home .levelimg img{
    width: 150px;
    
}

.home .levelimg:hover{
    filter: drop-shadow(0px 0px 25px red);
}

.home .levelimg .over{
    position: relative;
    transition-duration: .5s;
}

.home .levelimg .leveltext{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 20px;
}

.home .levelimg .over:hover{
    color: red;
}

.home .level1{
    padding-top: 5%;
}

.home .level2,.level5,.level7,.level10{
    padding-top: 20%;
}

.home .level3,.level6,.level8{
    padding-top: 13%;
}

.home .level4{
    padding-top: 8%;
}

/* Login page */



.formpage .join{
    font-family: 'Creepster';
    letter-spacing: 2px;
    cursor: pointer;
    transition-duration: .5s;
    text-decoration: none;
    color: white;
}

.formpage .join:hover{
    color: red;
}

.formpage h1{
    font-family: 'Metal Mania';
    letter-spacing: 3px;
}

.formpage .smoke{
    position: absolute;
    bottom: 0;
    opacity: 30%;
    z-index: -1;
    width: 100%;
    animation: fadeInSmoke 5s;
}

.formpage .loginpage {
    display: flex;
    height: 99vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    gap: 20px;
    align-items: center;
    font-size: x-large;
    justify-content: center;
}

.formpage .forms {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: fadeInText 5s;
}

.formpage form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.formpage form input{
    color: white;
    font-size: large;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
}

.formpage form input::placeholder{
    color: white;
    font-size: large;
    padding-left: 10px;
    text-transform: uppercase;
}

.formpage form button{
    height: 30px;
    font-family: 'Metal Mania';
    font-size: xx-large;
    background-color: transparent;
    border: none;
    color: white;
    transition-duration: .5s;
    cursor: pointer;
}

.formpage form button:hover{
    color: red;
}